<html>
    
    <h1>
        Welcome to the financial tracker application
    </h1>
    <%= link_to "logout", destroy_user_session_path, method: :delete %>
    <%= link_to "portfolio", my_portfolio_url %>
</html>